<div class="form-container">
  <mat-card class="result">
    <mat-card-content>
      <h2 class="example-h2">Result</h2>
      <section class="example-section">
        <mat-slide-toggle
            class="example-margin"
            [(ngModel)]="isDarkMode"
            (change)="toggleDarkMode()">
          Dark Mode
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>

  <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title> Personal Information </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill">
        <mat-label>Username:</mat-label>
        <input matInput placeholder="Enter Text" formControlName="userName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Enter Email" formControlName="email">
        <mat-error *ngIf="formdata.get('email')?.invalid && formdata.get('email')?.touched">
          Email is required and must be valid.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter Password" formControlName="password">
        <mat-error *ngIf="formdata.get('password')?.invalid && formdata.get('password')?.touched">
          Password must be at least 8 characters long.
        </mat-error>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Additional Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="radio-group"><br>
        <label class="radio-label">Gender</label><br>
        <mat-radio-group formControlName="gender" class="gender-radio-group">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="other">Other</mat-radio-button>
        </mat-radio-group>
      </div><br>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Enter Address" formControlName="address">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Select a Date" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label><br>
        <mat-icon svgIcon="phone"></mat-icon>
        <input matInput placeholder="Enter Phone Number" formControlName="phoneNumber">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Marital Status</mat-label><br>
        <mat-icon svgIcon="family"></mat-icon>
        <input type="text" matInput [formControl]="maritalControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option.status}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Occupation</mat-label><br>
        <mat-icon svgIcon="work"></mat-icon>
        <input matInput placeholder="Enter Occupation" formControlName="occupation">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Emergency Contact</mat-label><br>
        <mat-icon svgIcon="emergency"></mat-icon>
        <input matInput placeholder="Enter Emergency Contact" formControlName="emergencyContact">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Hobbies/Interests</mat-label><br>
        <mat-icon svgIcon="sports"></mat-icon>
        <input matInput placeholder="Enter Hobbies/Interests" formControlName="hobbies">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Skills and Preferences </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="slider-group">
        <label class="slider-label">Angular Skill Level: {{ formdata.get('angularSkillLevel')?.value }}</label>
        <mat-slider [min]="minSkillLevel" [max]="maxSkillLevel" [step]="1" formControlName="angularSkillLevel">
          <input matSliderThumb formControlName="angularSkillLevel">
        </mat-slider>
      </div>
    </mat-expansion-panel>

    <button mat-raised-button color="primary" type="submit" [disabled]="!formdata.valid">
      Click Here
    </button>

  </form>
  <p *ngIf="submitted">
    You have entered: <br>
    Username: {{ userName }} <br>
    Email: {{ email }} <br>
    Password: {{ password }} <br>
    Gender: {{ gender }} <br>
    Address: {{ address }} <br>
    Birth Date: {{ birthDate | date: 'shortDate' }} <br>
    Phone Number: {{ phoneNumber }} <br>
    Marital Status: {{ maritalStatus }} <br>
    Occupation: {{ occupation }} <br>
    Emergency Contact: {{ emergencyContact }} <br>
    Hobbies/Interests: {{ hobbies }} <br>
    Angular Skill Level: {{ angularSkillLevel }}
  </p>
</div>
